* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bimage {
  height: 100%;
  width: 100%;
  display: block;
  background-size: cover;
}

.box {
  background-color: var(--box-bg-color);
  opacity: var(--box-opacity);
  width: 1200px;
  height: 590px;
  position: absolute;
  top: 200px;
  left: 600px;
}

.text {
  position: absolute;
  top: 200px;
  left: 620px;
  width: 750px;
}

.header {
  color: #fff;
  font-size: 70px;
  opacity: 1;
  margin-top: 10px;
  margin-left: 10px;
}

.subheader {
  color: #fff;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  width: 750px;
}

.main {
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  width: 750px;
}

.uppercase {
  text-transform: uppercase;
}

.footer {
  width: 750px;
  margin-top: 20px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}

.right-image img {
  display: block;
  height: 590px;
  width: 400px;
  position: absolute;
  top: 200px;
  left: 1400px;
}

.loading {
  position: absolute;
  top: 888px;
  right: 110px;
  background-color: rgb(26, 31, 34);
  opacity: 0.9;
  width: 400px;
  height: 20px;
  padding-left: 20px;
  padding-bottom: 35px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* another type of animation */
/* border: 16px solid #00000005;
border-top: 16px solid #f3f3f3; */

/* loader */
.loader {
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 890px;
  right: 150px;
  animation: spin 3s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.transition {
  /* transition: all 0.7s ease-in-out 0.3s; */
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0.5}
  66.666% { opacity: 0}
  100% { opacity: 1}
}